<%= image_tag(@picture.asset.url(:medium), alt: @picture.name, class: 'img-polaroid') %>

<br>

<h3><%= @picture.name %></h3>

<p><%= @picture.description %></p>

<%= link_to 'Edit', edit_album_picture_path(@album, @picture) %> |
<%= link_to 'Album', album_pictures_path(@album) %>
